version: '3.3'

services:
  postgres:
    image: postgres:17
    container_name: jobby_pg
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"